

<ion-content class="card-background-page" padding >


    <ion-card>
      <img src="../../assets/home_res/Poolgames.jpg" />
      <ion-card-content>
        <ion-card-title>
         Pool Party
          </ion-card-title>
        <p>
          The most popular industrial group ever, and largely
          responsible for bringing the music to a mass audience.
        </p>
      </ion-card-content>
      
    </ion-card>
    <ion-card>
        <img src="../../assets/home_res/Poolgames.jpg" />
        <ion-card-content>
          <ion-card-title>
           Pool Party
            </ion-card-title>
          <p>
            The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.
          </p>
        </ion-card-content>
        
      </ion-card>
      <ion-card>
          <img src="../../assets/home_res/Poolgames.jpg" />
          <ion-card-content>
            <ion-card-title>
             Pool Party
              </ion-card-title>
            <p>
              The most popular industrial group ever, and largely
              responsible for bringing the music to a mass audience.
            </p>
          </ion-card-content>
          
        </ion-card>
        

</ion-content>
